In [14]:
import pandas as pd
import cv2

Выполнение заданий 1 и 2:

In [15]:
df = pd.read_csv('annotation.csv', delimiter=',', usecols = (0, 2), names = ('AbsPath', 'Name'))
pd.concat([df.head(), df.tail()])

                                               AbsPath       Name
0     C:\Users\Alex\Desktop\dataset\bay_horse\0001.jpg  bay_horse
1     C:\Users\Alex\Desktop\dataset\bay_horse\0002.jpg  bay_horse
2     C:\Users\Alex\Desktop\dataset\bay_horse\0003.jpg  bay_horse
3     C:\Users\Alex\Desktop\dataset\bay_horse\0004.jpg  bay_horse
4     C:\Users\Alex\Desktop\dataset\bay_horse\0005.jpg  bay_horse
2192      C:\Users\Alex\Desktop\dataset\zebra\1044.jpg      zebra
2193      C:\Users\Alex\Desktop\dataset\zebra\1045.jpg      zebra
2194      C:\Users\Alex\Desktop\dataset\zebra\1046.jpg      zebra
2195      C:\Users\Alex\Desktop\dataset\zebra\1047.jpg      zebra
2196      C:\Users\Alex\Desktop\dataset\zebra\1048.jpg      zebra

Выполнение задания 3:

In [16]:
df['Class'] = df['Name'].apply(lambda name: 0 if name == 'bay_horse' else 1)
pd.concat([df.head(), df.tail()])

                                               AbsPath       Name  Class
0     C:\Users\Alex\Desktop\dataset\bay_horse\0001.jpg  bay_horse      0
1     C:\Users\Alex\Desktop\dataset\bay_horse\0002.jpg  bay_horse      0
2     C:\Users\Alex\Desktop\dataset\bay_horse\0003.jpg  bay_horse      0
3     C:\Users\Alex\Desktop\dataset\bay_horse\0004.jpg  bay_horse      0
4     C:\Users\Alex\Desktop\dataset\bay_horse\0005.jpg  bay_horse      0
2192      C:\Users\Alex\Desktop\dataset\zebra\1044.jpg      zebra      1
2193      C:\Users\Alex\Desktop\dataset\zebra\1045.jpg      zebra      1
2194      C:\Users\Alex\Desktop\dataset\zebra\1046.jpg      zebra      1
2195      C:\Users\Alex\Desktop\dataset\zebra\1047.jpg      zebra      1
2196      C:\Users\Alex\Desktop\dataset\zebra\1048.jpg      zebra      1

Выполнение задания 4:

In [ ]:
"""def get_image_dimensions(image_path):
    image = cv2.imread(image_path)
    height, width, depth = image.shape
    return height, width, depth"""
#df['Height'], df['Weight'], df['Depth'] = zip(*df['AbsPath'].map(get_image_dimensions))
df['Height'] = df['AbsPath'].apply(lambda path: cv2.imread(path).shape[0])
df['Weight'] = df['AbsPath'].apply(lambda path: cv2.imread(path).shape[1])
df['Depth'] = df['AbsPath'].apply(lambda path: cv2.imread(path).shape[2])