In [23]:
import pandas as pd
import cv2

Выполнение заданий 1 и 2:

In [24]:
df = pd.read_csv('annotation.csv', delimiter=',', usecols = (0, 2), names = ('AbsPath', 'Name'))
pd.concat([df.head(), df.tail()])

                                               AbsPath       Name
0     C:\Users\Alex\Desktop\dataset\bay_horse\0001.jpg  bay_horse
1     C:\Users\Alex\Desktop\dataset\bay_horse\0002.jpg  bay_horse
2     C:\Users\Alex\Desktop\dataset\bay_horse\0003.jpg  bay_horse
3     C:\Users\Alex\Desktop\dataset\bay_horse\0004.jpg  bay_horse
4     C:\Users\Alex\Desktop\dataset\bay_horse\0005.jpg  bay_horse
2192      C:\Users\Alex\Desktop\dataset\zebra\1044.jpg      zebra
2193      C:\Users\Alex\Desktop\dataset\zebra\1045.jpg      zebra
2194      C:\Users\Alex\Desktop\dataset\zebra\1046.jpg      zebra
2195      C:\Users\Alex\Desktop\dataset\zebra\1047.jpg      zebra
2196      C:\Users\Alex\Desktop\dataset\zebra\1048.jpg      zebra

Выполнение задания 3:

In [25]:
df['Class'] = df['Name'].apply(lambda name: 0 if name == 'bay_horse' else 1)
pd.concat([df.head(), df.tail()])

                                               AbsPath       Name  Class
0     C:\Users\Alex\Desktop\dataset\bay_horse\0001.jpg  bay_horse      0
1     C:\Users\Alex\Desktop\dataset\bay_horse\0002.jpg  bay_horse      0
2     C:\Users\Alex\Desktop\dataset\bay_horse\0003.jpg  bay_horse      0
3     C:\Users\Alex\Desktop\dataset\bay_horse\0004.jpg  bay_horse      0
4     C:\Users\Alex\Desktop\dataset\bay_horse\0005.jpg  bay_horse      0
2192      C:\Users\Alex\Desktop\dataset\zebra\1044.jpg      zebra      1
2193      C:\Users\Alex\Desktop\dataset\zebra\1045.jpg      zebra      1
2194      C:\Users\Alex\Desktop\dataset\zebra\1046.jpg      zebra      1
2195      C:\Users\Alex\Desktop\dataset\zebra\1047.jpg      zebra      1
2196      C:\Users\Alex\Desktop\dataset\zebra\1048.jpg      zebra      1

Выполнение задания 4:

In [26]:
def get_image_dimensions(image_path):
    image = cv2.imread(image_path)
    height, width, depth = image.shape
    return height, width, depth
df['Height'], df['Width'], df['Depth'] = zip(*df['AbsPath'].map(get_image_dimensions))
#df['Height'] = df['AbsPath'].apply(lambda path: cv2.imread(path).shape[0])
#df['Width'] = df['AbsPath'].apply(lambda path: cv2.imread(path).shape[1])
#df['Depth'] = df['AbsPath'].apply(lambda path: cv2.imread(path).shape[2])
pd.concat([df.head(), df.tail()])

,AbsPath,Name,Class,Height,Width,Depth
0,C:\Users\Alex\Desktop\dataset\bay_horse\0001.jpg,bay_horse,0,2064,2890,3
1,C:\Users\Alex\Desktop\dataset\bay_horse\0002.jpg,bay_horse,0,1365,2048,3
2,C:\Users\Alex\Desktop\dataset\bay_horse\0003.jpg,bay_horse,0,850,1332,3
3,C:\Users\Alex\Desktop\dataset\bay_horse\0004.jpg,bay_horse,0,800,999,3
4,C:\Users\Alex\Desktop\dataset\bay_horse\0005.jpg,bay_horse,0,380,570,3
2192,C:\Users\Alex\Desktop\dataset\zebra\1044.jpg,zebra,1,1536,2048,3
2193,C:\Users\Alex\Desktop\dataset\zebra\1045.jpg,zebra,1,810,1080,3
2194,C:\Users\Alex\Desktop\dataset\zebra\1046.jpg,zebra,1,540,800,3
2195,C:\Users\Alex\Desktop\dataset\zebra\1047.jpg,zebra,1,1024,937,3
2196,C:\Users\Alex\Desktop\dataset\zebra\1048.jpg,zebra,1,1338,1100,3

Выполнение задания 5:

In [28]:
df[df['Class'] == 0]['Height'].describe()

count    1181.000000
mean      989.932261
std       635.328718
min       176.000000
25%       603.000000
50%       800.000000
75%      1080.000000
max      4928.000000
Name: Height, dtype: float64

In [29]:
df[df['Class'] == 1]['Height'].describe()

count    1016.000000
mean     1392.969488
std       802.523282
min       391.000000
25%       846.250000
50%      1152.000000
75%      1600.000000
max      6000.000000
Name: Height, dtype: float64

In [30]:
df[df['Class'] == 0]['Width'].describe()

count    1181.000000
mean     1259.309907
std       856.335711
min       236.000000
25%       800.000000
50%      1000.000000
75%      1300.000000
max      7200.000000
Name: Width, dtype: float64

In [31]:
df[df['Class'] == 1]['Width'].describe()

count    1016.000000
mean     1891.705709
std      1134.463343
min       530.000000
25%      1084.500000
50%      1600.000000
75%      2048.000000
max      6489.000000
Name: Width, dtype: float64

In [32]:
df[df['Class'] == 0]['Depth'].describe()

count    1181.0
mean        3.0
std         0.0
min         3.0
25%         3.0
50%         3.0
75%         3.0
max         3.0
Name: Depth, dtype: float64

In [33]:
df[df['Class'] == 1]['Depth'].describe()

count    1016.0
mean        3.0
std         0.0
min         3.0
25%         3.0
50%         3.0
75%         3.0
max         3.0
Name: Depth, dtype: float64

Выполнение задания 6:

In [ ]:
def split_class(df: pd.DataFrame, class_label: int) -> pd.DataFrame:
    """
    receives a dataframe as input and a class label
    returns a new dataframe consisting only of elements of this class

    Args:
        df (pd.DataFrame): default dataframe, in which all instances of the class passed to the function will be found
        class_label (int): label of class

    Returns:
        new_df: a new dataframe consisting only of elements with a class label passed to the function
    """
    new_df = df[df['Class'] == class_label]
    new_df.reset_index(drop=True, inplace=True)
    return new_df

df_bh = split_class(df, 0)
pd.concat([df_bh.head(), df_bh.tail()])
df_z = split_class(df, 1)
pd.concat([df_z.head(), df_z.tail()])