In [3]:
import pandas as pd

Выполнение заданий 1 и 2:

In [10]:
dataframe = pd.read_csv("annotation.csv", delimiter=",", usecols=(0, 2), names=("Absolute path", "Class label"))
pd.concat([dataframe.head(), dataframe.tail()])

                                         Absolute path Class label
0                                        Absolute path        Type
1     C:/Users/Alex/Desktop/dataset/bay_horse/0001.jpg   bay_horse
2     C:/Users/Alex/Desktop/dataset/bay_horse/0002.jpg   bay_horse
3     C:/Users/Alex/Desktop/dataset/bay_horse/0003.jpg   bay_horse
4     C:/Users/Alex/Desktop/dataset/bay_horse/0004.jpg   bay_horse
2210      C:/Users/Alex/Desktop/dataset/zebra/1044.jpg       zebra
2211      C:/Users/Alex/Desktop/dataset/zebra/1045.jpg       zebra
2212      C:/Users/Alex/Desktop/dataset/zebra/1046.jpg       zebra
2213      C:/Users/Alex/Desktop/dataset/zebra/1047.jpg       zebra
2214      C:/Users/Alex/Desktop/dataset/zebra/1048.jpg       zebra

Выполнение задания 3:

In [11]:
dataframe["Class"] = dataframe["Class label"].apply(lambda label: 0 if label=="bay_horse" else 1)
pd.concat([dataframe.head(), dataframe.tail()])

                                         Absolute path Class label  Class
0                                        Absolute path        Type      1
1     C:/Users/Alex/Desktop/dataset/bay_horse/0001.jpg   bay_horse      0
2     C:/Users/Alex/Desktop/dataset/bay_horse/0002.jpg   bay_horse      0
3     C:/Users/Alex/Desktop/dataset/bay_horse/0003.jpg   bay_horse      0
4     C:/Users/Alex/Desktop/dataset/bay_horse/0004.jpg   bay_horse      0
2210      C:/Users/Alex/Desktop/dataset/zebra/1044.jpg       zebra      1
2211      C:/Users/Alex/Desktop/dataset/zebra/1045.jpg       zebra      1
2212      C:/Users/Alex/Desktop/dataset/zebra/1046.jpg       zebra      1
2213      C:/Users/Alex/Desktop/dataset/zebra/1047.jpg       zebra      1
2214      C:/Users/Alex/Desktop/dataset/zebra/1048.jpg       zebra      1